:root {
  --rose: #da2354;
  --aquagreen: #01e09a;
  --shadow: #1f1d1d;
}

body {
  background: #e9e5e5;
  display: grid;
  place-items: center;
  height: 100vh;
}

.Watermelon {
  position: relative;
  height: 3rem;
  width: 6rem;
  background: var(--aquagreen);
  border-radius: 0 0 9.375rem 9.375rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.4);
}

.style {
  position: absolute;
  left: 0.2rem;
  height: 2.8rem;
  width: 5.6rem;
  background: var(--rose);
  border-radius: 0 0 9.375rem 9.375rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0.125rem 1.25rem rgba(0, 0, 0, 0.4);
}

.style div:nth-child(n) {
  position: relative;
}
